.Chat {
    margin-top: 83px;
    height: 91.2vh !important;
    padding: 0;
}

.text-chat {
    min-height: 53vh !important;
    max-height: 53vh !important;
    overflow: auto;
    display: flex;
    margin-bottom: 20px !important;
}

.send-chat {
    min-width: 90% !important;
    background-color: #323741 !important;
}

.bottom-toolbar {
    background-color: #282c34  !important;
}

.conf-chat {
    min-width: 90% !important;
}

.pubpvt-key {
    min-width: 40% !important;
    margin-right: 20px !important;
    margin-bottom: 20px !important;
}

.remote-address {
    min-width: 82% !important;
    margin-right: 20px !important;
    margin-bottom: 20px !important;
}