.Chat {
    margin-top: 83px;
    height: 91.2vh !important;
    padding: 0;
}

.text-chat {
    min-height: 70vh !important;
    max-height: 70vh !important;
    overflow: auto;
    display: flex;
    margin-bottom: 20px !important;
}

.send-chat {
    min-width: 90% !important;
    background-color: #323741 !important;
}

.bottom-toolbar {
    background-color: #282c34  !important;
}